{% extends 'base.html' %}
{% block title_block %} Prpduct Detail {% endblock %}
{% block body_block %}
<div class="container">
  <div class="">
    <div class="row">
      <aside class="col-sm-5 border-right">
        <article class="gallery-wrap">
          <div class="">
            <a href="#"><img src="/media/{{ object.mainimage }}" style="width: 450px;" alt=""></a>
          </div>
        </article>
      </aside>
      <aside class="col-sm-7">
        <article class="card-body p-5">
          <h3 class="mp-3">{{ object.name }}</h3>
          <p class="price-detail-wrap">
            <span class="price ht text-warning">
            <span class="currency">USD $</span>
            <span class="num">{{ object.price }}</span>
            </span>
          </p>
          <dl class="item-property">
            <dt>Description</dt>
            <font color="red"><b>{{ object.category }}</b></font>
            <br>
            <dt>Description</dt>
            <dd><p>{{ object.details_text }}</p></dd>
          </dl>
          <a href="{% url 'App_Order:add' pk=object.pk %}" class="btn btn-lg btn-outline-primary text-uppercase">
            <i class="fa fa-shopping-cart"></i> add to cart
          </a>
        </article>
      </aside>
    </div>
  </div>
</div>
{% endblock %}
